<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".viewBinding.challenge.RecyclerViewBinding"
            android:exported="false" />
        <activity
            android:name=".viewBinding.ViewBindingActivity"
            android:exported="false" />
        <activity
            android:name=".roomDb.RoomDbActivity"
            android:exported="false" />
        <activity
            android:name=".coroutinesActivities.CoroutinesActivity"
            android:exported="false" />
        <activity
            android:name=".viewModelScopeUsage.UserRepoView"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewLogic"
            android:exported="false" />
        <activity
            android:name=".livedata.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".viewModel.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".VideoPlayer"
            android:exported="false" />
        <activity
            android:name=".MediaPlayer"
            android:exported="false" />
        <activity
            android:name=".BmiCalculator"
            android:exported="false" />
        <activity
            android:name=".SharedPreferenceLogic"
            android:exported="false" /> <!-- Second activity -->
        <activity android:name=".SecondActivity">

            <!-- <intent-filter> -->
            <!-- if uncomment this will be our main activity -->
            <!--
                 <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            -->
            <!-- </intent-filter> -->
        </activity> <!-- .main_logic : connects to kotlin class ,not to xml file -->
        <activity
            android:name=".MainLogic"
            android:exported="true">

            <!-- defineds that this is the homepage or launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>